{% extends "base.html"%}
<title>{% block title %} Edit Details {% endblock %}</title>
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col" style="background-color:lavender;">
        <video width="400" controls id="video">
        <source src="{{vi.video_file.url}}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        </video>

        <h4 id="about">About this video</h4>
        <p>Duration :{{vi.duration}}</p>
        <p>Uploaded time :{{vi.created_on}}</p>
        <p>Uploaded by :{{vi.uploaded_by}}</p>

    </div>
    <div class="col-sm" style="background-color:lavenderblush;">
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" id="changebutton" class="btn btn-success" >Change</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}