{% extends "base.html"%}

{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron jumbotron-fluid col-md-12 col-sm-12" style="height: fit-content;">

    <a href="video_upload" ><button type="button" class="btn btn-info main_buttons" id="create_video">Create Video</button></a>
    <button type="button" class="btn btn-outline-primary main_buttons" id="filterbutton" data-toggle="collapse" data-target="#filter">Filter By</button>


    <div >
    <form class="form-inline">
        <h4>Content Manager <span class="badge badge-danger" >{{count}}</span></h4>
    <input class="form-control form-control-sm" id="myInput" type="text" placeholder="Search"  aria-label="Search">
    </form>
    </div>
    <div id="filter" class="collapse">
        <div class="card bg-secondary text-white">
    <div class="card-body">
        <form method="get" class="form-inline" >
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
    </div>
  </div>
    </div>


</div>


  <div class="container-fluid">
	<div class="row">
     <div class="col-md-2">

         <div class="jumbotron" style="width: auto;">
             <h6>Videos</h6><br>
             <h6>Playlists</h6><br>
             <h6>Categories</h6><br>

         </div>

     </div>

        <div class="col-md-10">
        <div class="table-responsive">


              <table id="mytable1" class="table table-bordred table-striped">

                   <thead>
                   <th><input type="checkbox" id="checkall" /></th>
                   <th>Thumbnail</th>
                    <th>Name</th>
                     <th>Id</th>
                     <th>type</th>
                     <th>Created_on</th>
                     <th>Category</th>
                      <th>Duration</th>
                      <th>Uploaded_by</th>
                       <th>status</th>
                   </thead>
    <tbody id="myTable">
    {% for video in filter.qs %}
        <tr>
        <td><input type="checkbox" class="checkthis" /></td>
        <td><img src="{{video.thumb.url}} " class="img-fluid img-thumbnail" style="width: 70px; height: 70px;"></td>
        <td><a href="/details/{{video.id}}">{{video.title}}</a></td>
        <td>{{video.id}}</td>
        <td>{{video.type}}</td>
        <td>{{video.created_on}}</td>
        <td>{{video.category }}</td>
        <td>{{ video.duration }}</td>
        <td>{{video.uploaded_by}}</td>
        <td>{{video.status}}</td>
        </tr>
     {% endfor %}

    </tbody>

</table>


            </div>

        </div>
	</div>
</div>

{% endblock %}