{% extends "base.html"%}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-sm-3"></div>
<div class="card bg-light text-dark col-md-6 col-sm-6">
    <div class="card-body" id="cardbody">
        <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form1|crispy }}
        <a href="add_category"> <button type="button" class="btn btn-primary" id="buttoncategory">Add New Category</button></a>
        <a href="add_tag"> <button type="button" class="btn btn-primary" id="buttontag">Add New tag</button> </a><br>

        <button type="submit" class="btn btn-success" id="submitbutton">Upload</button>
    </form>

    </div>
  </div>
</div>

{% endblock %}